.spots {
  @include outer-container;
  @include span-columns(12);

  @include media($mobile) {
    @include span-columns(6);
  }
}

.spot-row {
  @extend .clearfix;

  @include span-columns(12);
  @include pad(default);
  
  position: relative;

  border-bottom: {
    width: 1px;
    color: #CCC;
    style: solid;
  }

  &:last-of-type {
    border-bottom: none;
  }

  @include media($mobile) {
    @include span-columns(6);
  }

  img {
    @extend .img-circle;

    @include span-columns(1 of 12);

    float: left;

    @include media($mobile) {
      @include span-columns(1 of 6);
    }
  }

  .actions {
    display: none; 
  }

  .spot-link,
  .spot-name {
    @include responsive-font-size(28);
    float: right;
  }
}

.spot-distance {
  @include responsive-font-size(20);

  opacity: 0.6;

  &:hover {
    opacity: 0.7;
  }

  i {
    margin: {
      left: 3px;
      right: 3px;
    }
  }
}

.spots-nearby {
  .spot {
    @extend .spot-row;
  }

  .spot-name {
    display: none;
  }

  .spot-distance {
    position: absolute;
    bottom: 15%;
    right: 2%;

    @include media($tablet) {
      bottom: 10%;
      right: 1%;
    }

    @include media($mobile) {
      bottom: 5%;
    }
  }
}

.spot {
  @include clearfix;
  @include outer-container;

  position: relative;

  img {
    @include span-columns(4 of 12);

    @include media($mobile) {
      @include span-columns(6 of 6);
      float: none;
    }
  }
}

.spots-index {
  .spot {
    @extend .spot-row;
  }
  .actions,
  .spot-name,
  .map {
    display: none;
  }

  .spot-link {
    float: right;
  }
}

.spots-show {
  .spot-link {
    display: none;
  }
}